<!DOCTYPE html>
<html lang="pt_BR">
<head>

	<meta charset="utf-8">

	<title>MagiCraft</title>

	<!-- description http://conversion.com.br rel="nofollow" on links
	======================================================== -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="robots" content="NOINDEX, nofollow" />	
	<meta name="title" content="MagiCraft">
	<meta name="description" content="MagiCraft">
	<meta name="author" content="Pinpinhos">
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="cleartype" content="on">

	<!-- styles
	======================================================== -->
	<!-- Main Style -->
	<link rel="stylesheet" href="backend/css/main.css">
	<!-- Adjust Style -->
	<link rel="stylesheet" href="backend/css/adjust.css">
	<!-- Font FONTE | font-family: 'FONTE', sans-serif; 
	<link href='http://google.com/fonts' rel='stylesheet' type='text/css'> -->
	<!-- modernizr modernizr.com -->
	<script src="backend/min/modernizr.min.js"></script>

</head>

<body class="no-js">

	<%- include('header'); -%>

	<div id="site">
		<div class="container row">
			<form class="col6" action="/play/" method="post">
				<div class="field">
					<label for="email">Email:</label>
					<input autocomplete="off" type="email" name="email" placeholder="Email">
				</div><!-- .field -->
				<div class="field">
					<label for="password">Senha:</label>
					<input autocomplete="off" type="password" name="password" placeholder="Senha">
				</div><!-- .field -->
				<button type="submit">Acessar</button>
			</form>
			<form class="col6" action="/register/" method="post">
				<div class="field">
					Pele: 
					<% skins.forEach(function(skin){ %>
						<label for="<%= skin.slug %>">
							<input type="radio" name="skin" value="<%= skin.slug %>" id="<%= skin.slug %>"> <%= skin.name %>
						</label>
					<% }); %>
					<label for="none-skin">
						<input type="radio" name="skin" id="none-skin" value=""> Nenhum
					</label><br><br>
				</div><!-- .field -->
				<div class="field">
					Cabelo: 
					<% hairs.forEach(function(hair){ %>
						<label for="<%= hair.slug %>">
							<input type="radio" name="hair" value="<%= hair.slug %>" id="<%= hair.slug %>"> <%= hair.name %>
						</label>
					<% }); %>
					<label for="none-hair">
						<input type="radio" name="hair" id="none-hair" value=""> Nenhum
					</label><br><br>
				</div><!-- .field -->
				<div class="field">
					Face: 
					<% faces.forEach(function(face){ %>
						<label for="<%= face.slug %>">
							<input type="radio" name="face" value="<%= face.slug %>" id="<%= face.slug %>"> <%= face.name %>
						</label>
					<% }); %>
					<label for="none-face">
						<input type="radio" name="face" id="none-face" value=""> Nenhum
					</label><br><br>
				</div><!-- .field -->
				<div class="field">
					Barba: 
					<% beards.forEach(function(beard){ %>
						<label for="<%= beard.slug %>">
							<input type="radio" name="beard" value="<%= beard.slug %>" id="<%= beard.slug %>"> <%= beard.name %>
						</label>
					<% }); %>
					<label for="none-beard">
						<input type="radio" name="beard" id="none-beard" value=""> Nenhum
					</label><br><br>
				</div><!-- .field -->
				<div class="field">
					Ombros: 
					<% upperBodys.forEach(function(upperBody){ %>
						<label for="<%= upperBody.slug %>">
							<input type="radio" name="upperBody" value="<%= upperBody.slug %>" id="<%= upperBody.slug %>"> <%= upperBody.name %>
						</label>
					<% }); %>
					<label for="none-upperBody">
						<input type="radio" name="upperBody" id="none-upperBody" value=""> Nenhum
					</label><br><br>
				</div><!-- .field -->
				<div class="field">
					Mão Direita: 
					<% rightHands.forEach(function(rightHand){ %>
						<label for="<%= rightHand.slug %>">
							<input type="radio" name="rightHand" value="<%= rightHand.slug %>" id="<%= rightHand.slug %>"> <%= rightHand.name %>
						</label>
					<% }); %>
					<label for="none-rightHand">
						<input type="radio" name="rightHand" id="none-rightHand" value=""> Nenhum
					</label><br><br>
				</div><!-- .field -->
				<div class="field">
					<label for="user">Apelido:</label>
					<input autocomplete="off" type="user" name="user" placeholder="Apelido">
				</div><!-- .field -->
				<div class="field">
					<label for="email">Email:</label>
					<input autocomplete="off" type="email" name="email" placeholder="Email">
				</div><!-- .field -->
				<div class="field">
					<label for="password">Senha:</label>
					<input autocomplete="off" type="password" name="password" placeholder="Senha">
				</div><!-- .field -->
				<button type="submit">Cadastrar</button>
			</form>
		</div><!-- .container -->
	</div><!-- #site -->

	<%- include('footer'); -%>

	<!-- javascript
	======================================================== -->
	<!-- jquery jquery.com -->
	<script src="backend/min/jquery.min.js?v=1.11.0"></script>
	<!-- suiting -->
	<script src="backend/min/jquery.suiting.min.js"></script><!-- GRUNT http://blog.henriquesilverio.com/javascript-e-jquery/grunt-js-automatize-tarefas-e-otimize-o-seu-workflow/ -->
	<!-- mobile -->
	<script src="backend/min/jquery.mobile.min.js"></script><!-- GRUNT http://blog.henriquesilverio.com/javascript-e-jquery/grunt-js-automatize-tarefas-e-otimize-o-seu-workflow/ -->
	<!-- main -->
	<script src="backend/min/jquery.main.min.js"></script><!-- GRUNT http://blog.henriquesilverio.com/javascript-e-jquery/grunt-js-automatize-tarefas-e-otimize-o-seu-workflow/ -->

</body>
</html>